{% extends 'base.html' %}

{% block content %}


    <form method="post" class="post-form">
        {% csrf_token %}


        <h3>Enter Details</h3>               
        
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Date (YYYY-MM-DD):</label>  
                <div class="col-sm-4">
                    {{ form.date }}
                </div>
            </div>
        

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Amount:</label>
                <div class="col-sm-4">
                    {{ form.amt }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Category:</label>
                <div class="col-sm-4">
                    {{ form.cat }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Vendor:</label>
                <div class="col-sm-4">
                    {{ form.ven }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Caption:</label>
                <div class="col-sm-4">
                    {{ form.cap }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" data-toggle="tooltip" title="C for Credit - D for Debit">Payment Method</label>
                <div class="col-sm-4">
                    {{ form.pmeth }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <a href="/">Cancel</a>

        </form>

        {% endblock %}