{% extends 'base.html' %}
{% block content %}



<!-- # Title of the Page -->
<h2>Personal Expense Record</h2>   


    <!-- # Left Sidebar -->
    <div class="col-sm">
        <div class="sidebar">
            <ul>

                <li><a href="/create">Add New</a><br></li>

            </ul>
        </div>
    </div>



        <!-- # Data Table -->
        
            <div class="col-md-8 mx-auto">
                <div class="table-responsive">
                    <table class="table-responsive" id="myTable" width="100%">
                        <thead class="thead-dark">
                            <br>
                            <th width="10%">Date</th>
                            <th width="11%">Amount $</th>
                            <th width="15%">Category</th>
                            <th width="15%">Vendor</th>
                            <th width="24%">Caption</th>
                            <th width="15%">Payment Method</th>
                            <th width="5%">Edit</th>
                            <th width="5%">Delete</th>
                        </thead>
                        <tbody>
                        {% for exp in exp_list %}     
                            <tr>  
                                <td>{{ exp.date }}</td>  
                                <td>{{ exp.amt }}</td>  
                                <td>{{ exp.cat }}</td>  
                                <td>{{ exp.ven }}</td>  
                                <td>{{ exp.cap }}</td>  
                                <td>{{ exp.pmeth }}</td>  
                                <td><a href = "{% url 'edit' exp.pk %}">Edit</a></td>
                                <td><a href = "{% url 'delete' exp.pk %}">Delete</a></td>
                            </tr>  
                        {% endfor %}
                        </tbody>
                    </table>





                </div>
            </div>


          
{% endblock %}


